@CHARSET "UTF-8";

/*Altera a parte principal da tabela e menu superior*/
.ui-widget-header{
	border: none !important;
    color: #fff !important;
    font-weight:normal !important; 
    text-shadow: none !important;	
	background: #910001 -webkit-gradient(linear, left top, left bottom, from(#910001), to(#910001)) !important;
	
}