@CHARSET "UTF-8";

.img-menu-cart {
	max-width: 60px; /* Máximo da largura da imagem */
	width: 100%;
	max-height: 40px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-log{
	max-width: 200px; /* Máximo da largura da imagem */
	width: 80%;
	margin; 0;
	min-width:0px
	max-height: 100px; /* Máximo da altura da imagem */
	min-height: 0px; /* Mínimo da altura, por padrão “auto” */
	background-size:80%;
	background-repeat: no-repeat;
}


.img {
	max-width: 1080px; /* Máximo da largura da imagem */
	width: 100%;
	max-height: 500px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-login {
	max-width: 1080px; /* Máximo da largura da imagem */
	width: 100%;
	max-height: 1300px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.ajax-status-temp{
	position: fixed;
	top: 300px;
	right: 60px;
	width: 740px;
}
.ajax-status {
	position: fixed;
	top: 200px;
	right: 10px;
	width: 740px;
}

.img-table {
	max-width: 100px; /* Máximo da largura da imagem */
	width: 100%;
	margin: 3px 0 10px;
	max-height: 110px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-kart {
	max-width: 500px; /* Máximo da largura da imagem */
	width: 100%;
	margin: 3px 0 10px;
	max-height: 500px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-menu {
	max-width: 300px; /* Máximo da largura da imagem */
	width: 100%;
	margin: 3px 0 10px;
	max-height: 300px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-menu-detail{
	max-width: 250px; /* Máximo da largura da imagem */
	width: 250px;
	margin: 3px 0 10px;
	max-height: 300px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}



.img-cart_menu {
	max-width: 300px; /* Máximo da largura da imagem */
	width: 100%;
	margin: 3px 0 10px;
	max-height: 300px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}

.img-logo {
	max-width: 10px; /* Máximo da largura da imagem */
	width: 100%;
	margin: 3px 0 10px;
	max-height: 10px; /* Máximo da altura da imagem */
	min-height: auto; /* Mínimo da altura, por padrão “auto” */
	background-size: 100%;
	background-repeat: no-repeat;
}